$my-color: rgb(228, 197, 23);

@mixin theme($color) {
    color: $color;
    background-color: black;
}

.hello {
    @include theme(yellow);
}

.world {
    @include theme(blue);

    &:hover {
        color: red;
    }
}